body {
    background: #ced4da;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

/* dark mode */

.darkmode {
    background-color: #292929;
    color: white;
}

.darkmode .card {
    background-color: #292929;
    border-right-color: white;
    border-left-color: white;
    border-bottom-color: white;
    border-top-color: white;
}