body {
    background: #0c0e1a !important;
    color: white !important;
}

.card {
    /* background: #D5DBDB !important; */
    background: #1F232E !important;
    border-right-color: transparent !important;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
}

.card-header {
    font-weight: 600 !important;
}

nav {
    background: #0c0e1a !important;
}

footer {
    background: #000 !important;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.software-skills {
    min-height: 398px;
}

.carousel-item img {
    height: 256px;
    width: 256px;
}

.carousel-indicators {
    margin-bottom: -20.5px !important;
}

.carousel-control-prev {
    width: 94% !important;
    align-items: end !important;
    justify-content: end !important;

}

.carousel-control-next {
    align-items: end !important;
    justify-content: end !important;
    width: auto !important;
}

.top {
    place-self: end;
    position: sticky;
    bottom: 75px;
    margin-top: 95vh;
    float: right;
    margin-right: 15px;
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    background: #000;
    border-radius: 100px;
}

.custom-tooltip {
    position: relative;
    display: inline-block;
}

.custom-tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.custom-tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.custom-tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* custom scrollbar */
::-webkit-scrollbar-track {
    border: 5px solid #0c0e1a;
    background-color: #0c0e1a;
}

::-webkit-scrollbar {
    width: 15px;
    background-color: #dfe6e9;
}

::-webkit-scrollbar-thumb {
    background-color: #1F232E;
    border-radius: 10px;
}

/* dark mode */

.darkmode {
    background: #0c0e1a;
    color: white;
}

.darkmode .card {
    background: #1F232E !important;
    background-color: #212529;
    border-right-color: white;
    border-left-color: white;
    border-bottom-color: white;
    border-top-color: white;
}

.darkmode body {
    background: #0c0e1a !important;
}

.darkmode span {
    color: white;
}

/* responsive (first mobile) */
@media screen and (max-width: 991px) {
    .software-skills {
        margin-top: 18px !important;
    }
}

@media screen and (max-width: 767px) {
    .carousel-item img {
        height: 180px;
        width: 180px;
    }
}

@media screen and (max-width: 575px) {
    .carousel-item .d-flex {
        display: block !important;
        text-align: center;
    }

    .carousel-item img {
        margin-bottom: 1em;
    }

    .carousel-control-prev {
        align-items: flex-start !important;
        justify-content: left !important;
    }
    
    .carousel-control-next {
        align-items: flex-start !important;
    }
}

@media screen and (max-width: 427px) {
    .btn-tech-used {
        margin-top: 15px;
    }
}