body {
    background: #0c0e1a !important;
    color: white !important;
}

.card {
    /* background: #D5DBDB !important; */
    background: #1F232E !important;
    border-right-color: transparent !important;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
}

.card-header {
    font-weight: 600 !important;
}

.profile-image {
    padding: 3px;
    border: 3px solid #fff; 
    border-radius: 50%; 
    width: 152px; 
    height: 152px;
}

nav {
    background: #0c0e1a !important;
}

footer {
    background: #000 !important;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.software-skills {
    min-height: 398px;
}

.carousel-item img {
    height: 160px;
    width: 160px;
}

.carousel-indicators {
    margin-bottom: -20.5px !important;
}

.top {
    place-self: end;
    position: sticky;
    bottom: 75px;
    margin-top: 95vh;
    float: right;
    margin-right: 15px;
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    background: #000;
    border-radius: 100px;
}

.some-projects {
    line-height: 0.5;
    text-align: center;
}

.some-projects span {
    display: inline-block;
    position: relative; 
    font-weight: 500;
    font-size: 20px; 
}

.some-projects span:before,
.some-projects span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid white;
    top: 0;
    width: 564px;
}

.some-projects span:before {
    right: 100%;
    margin-right: 15px;
}

.some-projects span:after {
    left: 100%;
    margin-left: 15px;
}

.custom-tooltip {
    position: relative;
    display: inline-block;
}

.custom-tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.custom-tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.custom-tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }
}
.blink {
  -webkit-animation: blink .99s linear infinite;
  -moz-animation: blink .99s linear infinite;
  -ms-animation: blink .99s linear infinite;
  -o-animation: blink .99s linear infinite;
  animation: blink .99s linear infinite;
}

/* custom scrollbar */
::-webkit-scrollbar-track {
    border: 5px solid #0c0e1a;
    background-color: #0c0e1a;
}

::-webkit-scrollbar {
    width: 15px;
    background-color: #dfe6e9;
}

::-webkit-scrollbar-thumb {
    background-color: #1F232E;
    border-radius: 10px;
}

/* dark mode */

.darkmode {
    background: #0c0e1a;
    color: white;
}

.darkmode .card {
    background: #1F232E !important;
    background-color: #212529;
    border-right-color: white;
    border-left-color: white;
    border-bottom-color: white;
    border-top-color: white;
}

.darkmode body {
    background: #0c0e1a !important;
}

.darkmode span {
    color: white;
}

/* responsive (first mobile) */
@media screen and (max-width: 1399px) {
    .some-projects span:before,
    .some-projects span:after {
        width: 475px;
    }
}

@media screen and (max-width: 1199px) {
    .some-projects span:before,
    .some-projects span:after {
        width: 385px;
    }
}

@media screen and (max-width: 991px) {
    .software-skills {
        margin-top: 18px !important;
    }

    .some-projects span:before,
    .some-projects span:after {
        width: 265px;
    }
}

@media screen and (max-width: 767px) {
    .carousel-item img {
        height: 180px;
        width: 180px;
    }

    .some-projects span:before,
    .some-projects span:after {
        width: 175px;
    }
}

@media screen and (max-width: 575px) {
    .carousel-item .d-flex {
        display: block !important;
        text-align: center;
    }

    .carousel-item img {
        margin-bottom: 1em;
    }

    .carousel-control-prev {
        align-items: flex-start !important;
        justify-content: left !important;
    }
    
    .carousel-control-next {
        align-items: flex-start !important;
    }

    .some-projects span:before,
    .some-projects span:after {
        width: 80%;
    }
}

@media screen and (max-width: 427px) {
    .btn-tech-used {
        margin-top: 15px;
    }

    .some-projects span:before,
    .some-projects span:after {
        width: 60%;
    }
}